.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-image: linear-gradient(white, rgb(103, 185, 236), rgb(228, 228, 228));
  border-radius: 15px;
}
.login-page{
  margin-top: 50px;
}

.login-page h2 {

  font-size: 30px;
}

.login-page div {
  margin-bottom: 10px;
}

.login-page label {
  display: block;
  font-weight: bold;
  padding: 10px;
}

.login-page input {
  padding: 5px;
  width: 350px;
}

.login-page button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #2263cb;
  width: 100px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #2e0de6;
}

.err-msg {
  color: red;
  font-size: 12px;
}

#name input {
  width: 350px;
}

.signpara {
  font-weight: bold;
}

.sb {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.red {
  border-color: red;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .login-page input {
    width: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .login-page {
    max-width: 400px;
  }
}

@media only screen and (max-width: 900px) {
  .login-page {
    max-width: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .login-page input {
    width: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .login-page {
    max-width: 300px;
  }
  .login-page input {
    width: 200px;
  }
}
